.header-wrapper {
  display: flex;
  flex-direction: column;
  align-self: flex-start;

  .header-container {
    display: flex;
    color: var(--primary-color);
    justify-content: space-between;
    align-items: center;
    height: 72px;
    position: relative;
    z-index: 1;
    padding: 18px 0px 14px 0px;

    .company-name {
      display: flex;
      flex-direction: column;
      text-transform: uppercase;
      letter-spacing: 6px;
      margin-top: 9px;
      gap: 9px
    }

    .navigation a {
      color: var(--primary-color);
      text-decoration: none;
      padding: 0 24px;
    }

    .active-link {
      text-decoration: underline !important;
      color: #71b7b7 !important;
    }

    .consultation-btn {
      background-color: var(--primary-color);
      color: var(--secondary-color);
      width: 157px;
      height: 44px;
    }
  }

  .clicker-wrapper {
    margin-top: 7px;
    width: 270px;
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: flex-end;
    position: relative;

    @mixin clicker-btn {
      background: none;
      border: none;
      color: var(--primary-color);
      cursor: pointer;
    }

    .clicker {
      color: var(--primary-color);
      display: flex;
      gap: 15px;

      .click-plus {
        @include clicker-btn();

        width: 11px;
        position: relative;
        z-index: 1;
      }

      .click-minus {
        @include clicker-btn();

        width: 8px;
        position: relative;
        z-index: 1;
      }
    }
  }

  .timer-wrapper {
    width: 375px;
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: flex-end;
    position: relative;
    margin-top: 7px;

    .timer {
      color: var(--primary-color);
      width: 168px;
      height: 24px;
      display: flex;
      align-items: center;
    }

    .show-clicker-btn {
      width: 157px;
      height: 44px;
      display: flex;
      align-items: center;
      padding: 12px 11px;
      background-color: var(--primary-color);
      color: var(--secondary-color);
    }
  }
}

.show-data-btn {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  height: 44px;
  width: 157px;
  padding: 12px 11px;
}

.background-header {
  background-color: rgba(24, 18, 30, 0.5);
  width: 100%;
  height: 141px;
  background-size: cover;
}