<div class="form-container">
  <form class="input-bg" [formGroup]="userForm">
    <div>
      <label>Name</label>
      <div GradientConfiguration class="input-wrapper">
        <input formControlName="name" id="name">
      </div>
    </div>
    <div>
      <label>Username</label>
      <div GradientConfiguration class="input-wrapper">
        <input  formControlName="username" id="username">
      </div>
    </div>
    <div>
      <label>Email</label>
      <div GradientConfiguration class="input-wrapper">
        <input formControlName="email" id="email">
      </div>
    </div>
    <div>
      <label>Phone</label>
      <div GradientConfiguration class="input-wrapper">
        <input formControlName="phone" type="tel" id="phone">
      </div>
    </div>
    <div>
      <label>Website</label>
      <div GradientConfiguration class="input-wrapper">
        <input formControlName="website" id="website">
      </div>
    </div>
    <div formGroupName="address">
      <div>
        <label>City</label>
        <div GradientConfiguration class="input-wrapper">
          <input formControlName="city" id="city">
        </div>
      </div>
      <div>
        <label>Street</label>
        <div GradientConfiguration class="input-wrapper">
          <input formControlName="street" id="street">
        </div>
      </div>
      <div>
        <label>Suite</label>
        <div GradientConfiguration class="input-wrapper">
          <input formControlName="suite" id="suite">
        </div>
      </div>
      <div>
        <label>Zipcode</label>
        <div GradientConfiguration class="input-wrapper">
          <input formControlName="zipcode" id="zipcode">
        </div>
      </div>
      <div formGroupName="geo">
        <div>
          <label>lat</label>
          <div GradientConfiguration class="input-wrapper">
            <input formControlName="lat" id="lat">
          </div>
        </div>
        <div>
          <label>lng</label>
          <div GradientConfiguration class="input-wrapper">
            <input formControlName="lng" id="lng">
          </div>
        </div>
      </div>
    </div>
    <div formGroupName="company">
      <div>
        <label>Company name</label>
        <div GradientConfiguration class="input-wrapper">
          <input formControlName="name" id="company-name">
        </div>
      </div>
      <div>
        <label>Mission</label>
        <div GradientConfiguration class="input-wrapper">
          <input  formControlName="catchPhrase" id="catchPhrase">
        </div>
      </div>
      <div>
        <label>Specialization</label>
        <div GradientConfiguration class="input-wrapper">
          <input  formControlName="bs" id="bs">
        </div>
      </div>
    </div>
  </form>
  <button
    id="user-form-btn"
    type="submit" (click)="onSubmit()"
    [disabled]="userForm.invalid"
    appHoverWeight
  >
  Отправить</button>
</div>