<div class="form-container">
  <form [formGroup]="userForm">
    <div>
      <label>Name</label>
      <input [GradientConfiguration]="{}" formControlName="name" id="name">
    </div>
    <div>
      <label>Username</label>
      <input [GradientConfiguration]="{}" formControlName="username" id="username">
    </div>
    <div>
      <label>Email</label>
      <input [GradientConfiguration]="{}" formControlName="email" id="email">
    </div>
    <div>
      <label>Phone</label>
      <input [GradientConfiguration]="{}" formControlName="phone" type="tel" id="phone">
    </div>
    <div>
      <label>Website</label>
      <input [GradientConfiguration]="{}" formControlName="website" id="website">
    </div>
    <div formGroupName="address">
      <div>
        <label>City</label>
        <input [GradientConfiguration]="{}" formControlName="city" id="city">
      </div>
      <div>
        <label>Street</label>
        <input [GradientConfiguration]="{}" formControlName="street" id="street">
      </div>
      <div>
        <label>Suite</label>
        <input [GradientConfiguration]="{}" formControlName="suite" id="suite">
      </div>
      <div>
        <label>Zipcode</label>
        <input [GradientConfiguration]="{}" formControlName="zipcode" id="zipcode">
      </div>
      <div formGroupName="geo">
        <div>
          <label>lat</label>
          <input [GradientConfiguration]="{}" formControlName="lat" id="lat">
        </div>
        <div>
          <label>lng</label>
          <input [GradientConfiguration]="{}" formControlName="lng" id="lng">
        </div>
      </div>
    </div>
    <div formGroupName="company">
      <div>
        <label>Company name</label>
        <input [GradientConfiguration]="{}" formControlName="name" id="company-name">
      </div>
      <div>
        <label>Mission</label>
        <input [GradientConfiguration]="{}" formControlName="catchPhrase" id="catchPhrase">
      </div>
      <div>
        <label>Specialization</label>
        <input [GradientConfiguration]="{}" formControlName="bs" id="bs">
      </div>
    </div>
  </form>
  <button
    id="user-form-btn"
    type="submit" (click)="onSubmit()"
    [disabled]="userForm.invalid"
    appHoverWeight
  >
  Отправить</button>
</div>