<header class="container">
  <div class="header-container">
    <div class="company-name">
      <img src="/images/mountains-logo.png" alt="mountains">
      <span>{{ companyName }}</span>
    </div>
    <nav class="navigation fs-16 fw-600">
      <a href="#">Главная</a>
      <a href="#">Про гида</a>
      <a href="#">Программа тура</a>
      <a href="#">Стоимость</a>
      <a href="#">Блог</a>
      <a href="#">Контакты</a>
      <button class="consultation-btn fs-16 fw-600">Консультация</button>
    </nav>
  </div>
</header>

<section class="main-info">
  <div class="background-main"></div>
  <div class="container motivational-title fw-400">
    <p>Насладись прогулкой в горах с командой единомышленников</p>
  </div>
  <div class="background-search-program container">
    <div class="search-form-wrapper fw-700 fs-16">
      <div class="search-form-group">
        <div class="search-form">
          <span>Локация для тура</span>
          <img src="/images/down-arrow.svg">
        </div>
          <span class="location-input-description fw-400 fs-14">выберите из списка</span>
      </div>
      <div class="search-form-group">
        <div class="search-form">
          <span>Дата похода</span>
          <img src="/images/calendar.svg">
        </div>
        <span class="calendar-input-description fw-400 fs-14">укажите диапазон</span>
      </div>
      <div class="search-form-group">
        <div class="search-form">
          <span>Участники</span>
          <img src="/images/down-arrow.svg">
        </div>
        <span class="participants-input-description fw-400 fs-14">минимум 4 человека</span>
      </div>
    </div>
      <button class="find-program-btn fw-700 fs-16">Найти программу</button>
  </div>
</section>