.card-container {
  display: flex;
  width: 440px;
  height: 630px;
  border-top: 4px solid #d4a373;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0px 10px 30px 0px #0000000f;
  background-color: var(--p-content-background);

  .info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .wrapper-name {
      display: flex;
      height: 106px;
      width: 440px;
      align-items: flex-start;
      padding: 30px;
      justify-content: space-between;

      span {
        color: #d4a373;
      }
    }

    .user-info {
      height: 493px;
      width: 440px;
      display: flex;
      gap: 25px;
      flex-direction: column;

      .contacts-wrapper {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 13px;
        align-items: center;

        .contact-design {
          display: flex;
          justify-content: space-between;
          width: 380px;
          align-items: center;
          text-transform: uppercase;
        }

        .contact-line {
          border: 1px solid #e2e8f0;
          width: 288px;
        }

        .contacts-container {
          display: flex;
          justify-content: center;

          .contacts {
            display: flex;
            flex-direction: column;
            gap: 10px;

            p {
              color: #d4a373;
            }

            .contact-template {
              display: flex;
              justify-content: space-between;
              width: 380px;
            }
          }
        }
      }
    }
  }
}

.res-address-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 13px;
  align-items: center;

  .address-line {
    border: 1px solid #e2e8f0;
    width: 211px;
  }

  .geo {
    display: flex;
    gap: 4px;
    color: black;

    span {
      background-color: #f4f7f5;
      border-radius: 4px;
      border: 1px solid #e2e8f0;
      padding: 1px 6px 1px 6px;
    }
  }

  .address-design {
    display: flex;
    justify-content: space-between;
    width: 380px;
    text-transform: uppercase;
    align-items: center;
  }

  .address-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;

    .address {
      display: flex;
      justify-content: space-between;
      width: 380px;
    }
  }
}

.work-place-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 13px;
  align-items: center;

  .work-place-title {
    display: flex;
    justify-content: space-between;
    width: 380px;
    text-transform: uppercase;
    align-items: center;

    .work-line {
      border: 1px solid #e2e8f0;
      width: 255px;
    }
  }

  .work-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;

    .company-info {
      display: flex;
      justify-content: space-between;
      width: 380px;
    }

    .company-info-bs {
      margin-top: 25px;
      display: flex;
      justify-content: space-between;
      width: 380px;
    }
  }
}

.error-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 606px;
  border-radius: 20px;
  height: 90px;
  background-color: #b15757;
  margin: 20px 20px;

  span {
    color: var(--primary-text-color);
  }
}

.delete-user-btn {
  width: 170px;
  height: 50px;
  background-color: var(--secondary-color);
  cursor: pointer;
  color: var(--primary-text-color);
  border: none;
  border-radius: 5px;
}
