.main-title {
  display: flex;
  justify-content: center;
  font-size: 48px;
  margin: 80px 0px 80px 0px;
}

.super-card-container {
  display: flex;
  justify-content: center;
}

.card-container {
  max-width: 1460px;
  display: flex;
  justify-content: center;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 40px;
}

.card-super-wrapper {
  display: flex;
  justify-content: center;
}

.card-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px 70px;
  width: 100%;
  width: 1460px;
  margin: 30px;
}

.error-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 606px;
  border-radius: 20px;
  height: 90px;
  background-color: #b15757;
  margin: 20px 20px;

  span {
    color: var(--primary-text-color);
  }
}

.count-user {
  display: flex;
  justify-content: center;
}
