<h1 class="main-title">Список Пользователей</h1>
<div class="form-wrapper">
  <app-create-user (createUser)="this.userService.addUser($event)"></app-create-user>
  <app-users-filter (filter)="onFilter($event)"></app-users-filter>
</div>
<span class="count-user">
  {{ (users$ | async)?.length }}
  {{ (users$ | async)?.length | plural: 'пользователь' : 'пользователя' : 'пользователей' }}</span
>
<div class="super-card-container">
  <div class="card-container">
    <div class="card-super-wrapper">
      <div class="card-wrapper">
        @for (user of filteredUsers$ | async; track user.id) {
          <app-user-card [user]="user" (deleteUser)="this.userService.deleteUser($event)" />
        } @empty {
          <div class="error-card">
            <span class="fw-800 fs-26">Нет пользователей для отображения</span>
          </div>
        }
      </div>
    </div>
  </div>
</div>
