@mixin button() {
  cursor: pointer;
  padding: 12px 24px;
  border-radius: 4px;
  border: none;
}

.primary-button {
  @include button();

  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.secondary-button {
  @include button();

  background-color: var(--primary-color);
  color: var(--secondary-color);
}