@use './fonts';
@use './normalize';

*{
  font-family: 'Nunito Sans';
}

.container {
  display: block;
  width: 1180px;
  margin: auto;
}

:root {
  --primary-color: #FDFDFD;
  --secondary-color: #1A3E3E;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fw-400 {
  font-weight: 400;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}