@use './fonts';
@use './normalize';
@use './button';

* {
  font-family: 'Nunito Sans';
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body:has(app-loader .background-loading) {
  overflow: hidden;
}


.container {
  display: block;
  width: 1180px;
  margin: auto;
}

:root {
  --primary-text-color: #FDFDFD;
  --primary-color: #FDFDFD;
  --secondary-color: #1A3E3E;
  --background-primary-color: white;
  --background-secondary-color: #1A3E3E;
  --background-container-email-color: #FDFDFD
}

.my-app-dark {
  --primary-color: black;
  --secondary-color: #e9f1f1;
  --background-white-color: #020c07ad;
  --background-secondary-color: #06030366;
  --background-container-email-color: #06030366
}

.gray-color {
  color: #667C7C;
}

.section-super-title {
  color: #F2BE22;
  font-size: 24px;
  font-weight: 400;
}

.section-title {
  font-size: 32px;
  line-height: 120%;
  font-weight: 800;
  margin-top: 0px;
}

.section-description {
  font-size: 18px;
  line-height: 150%;
}

.fs-12 {
  font-size: 12px;
}

.fs-13 {
  font-size: 13px;
}

.fs-14 {
  font-size: 14px;
}

.fs-15 {
  font-size: 15px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px
}

.fs-24 {
  font-size: 24px;
}

.fs-26 {
  font-size: 26px;
}

.fs-30 {
  font-size: 30px;
}

.fw-400 {
  font-weight: 400;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}