@use './fonts';
@use './normalize';
@use './button';

* {
  font-family: 'Nunito Sans';
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body:has(app-loader .background-loading) {
  overflow: hidden;
}


.container {
  display: block;
  width: 1180px;
  margin: auto;
}

:root {
  --primary-text-color: #FDFDFD;
  --primary-color: #FDFDFD;
  --secondary-color: #1A3E3E;
  --background-primary-color: white;
  --background-secondary-color: #1A3E3E;
  --background-third-color: #1A3E3E;
  --background-four-color: #c7c7d02b;
  --background-container-email-color: #FDFDFD;
}

.my-app-dark {
  --primary-text-color: #FDFDFD;
  --primary-color: black;
  --secondary-color: #e9f1f1;
  --background-primary-color: #06030366;
  --background-white-color: #020c07ad;
  --background-secondary-color: #06030366;
  --background-third-color: #322f2f66;
  --background-four-color: #322f2f66;
  --background-container-email-color: #06030366;
}

.gray-color {
  color: #667C7C;
}

.section-super-title {
  color: #F2BE22;
  font-size: 24px;
  font-weight: 400;
}

.section-title {
  font-size: 32px;
  line-height: 120%;
  font-weight: 800;
  margin-top: 0px;
}

.section-description {
  font-size: 18px;
  line-height: 150%;
}

.fs-12 {
  font-size: 12px;
}

.fs-13 {
  font-size: 13px;
}

.fs-14 {
  font-size: 14px;
}

.fs-15 {
  font-size: 15px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px
}

.fs-24 {
  font-size: 24px;
}

.fs-26 {
  font-size: 26px;
}

.fs-30 {
  font-size: 30px;
}

.fw-400 {
  font-weight: 400;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}


.animated-border {
  position: relative;
  border-radius: 8px;
}

.animated-border::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: var(--gradient-thickness);

  background: linear-gradient(270deg, var(--gradient-colors));
  background-size: 600% 600%;

  animation: gradientMove 4s linear infinite;

  -webkit-mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;

  pointer-events: none;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}