<footer>
  <div class="footer">
    <div class="container footer-container">
      <div class="footer-wrapper">
        <div class="company-info">
          <h3 class="fw-700 fs-20 footer-title">Компания «РумТибет»</h3>
          <p class="company-description fw-400 fs-14">Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа Hampden-Sydney.</p>
          <div>
            <div class="company-socials">
              <div class="company-contacts">
                <a id="email" class="fw-700 fs-14" href="mailto:sashakusnir22@gmail.com">sashakusnir22@gmail.com</a>
                <a id="phone" class="fw-700 fs-14" href="tel:+71234567890">+7 (123) 456-78-90</a>
              </div>
              <nav class="socials">
                <a id="telegram" href="#">
                  <img src="/images/icon/tg-icon.svg" alt="Telegram">
                </a>
                <a id="vk" href="#">
                  <img src="/images/icon/vk-icon.svg" alt="VK">
                </a>
                <a id="pinterest" href="#">
                  <img src="/images/icon/pinterest-icon.svg" alt="Pinterest">
                </a>
                <a id="skype" href="#">
                  <img src="/images/icon/skype-icon.svg" alt="Skype">
                </a>
              </nav>
            </div>
          </div>
        </div>
        <div class="our-services">
          <h3 class="fw-700 fs-20 footer-title">Наши услуги</h3>
          <div class="service-name-cointainer">
            @for (service of services; track $index) {
              <div class="service-name-wrapper">
                <img src="/images/arrow/small-right-arrow.svg" alt="right-arrow">
                <a id="service-name" href="https://www.youtube.com/shorts/r3tyhtXRtcM">
                  <span class="fw-400 fs-14">{{ service }}</span>
                </a>
              </div>
            }
          </div>
        </div>
      </div>
      <div class="important-info">
        <h3 class="fw-700 fs-20 footer-title">Важно для путешествий</h3>
        <div class="info-name-cointainer">
          @for (inf of info; track $index) {
            <div class="info-name-wrapper">
              <img src="/images/arrow/small-right-arrow.svg" alt="right-arrow">
              <a id="info-name" href="https://www.youtube.com/shorts/r3tyhtXRtcM">
                <span class="fw-400 fs-14">{{ inf }}</span>
              </a>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-footer">
    <div class="personal-data container">
      <span class="fw-600 fs-14">ИП Константинопольский К.К., 2023</span>
      <p class="fw-600 fs-14">Политика обработки персональных данных</p>
    </div>
  </div>
</footer>